*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(237 242 250);
    font-family: lato-regular;
    max-height: 100dvh;
}


h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 0em;
}

/* TODO: Nunito font */

.btn {
    cursor: pointer;
}

a {
    color: var(--clr-primary-1);
    text-decoration: none;
}