.canvas-container {
    background-color: rgb(191, 210, 225);
    width: 90vw;
    padding: 10px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1.5em;
}

canvas {
    background-color: white;
    border: 1px solid black;
    width: 100%;
    /* object-fit: contain; */
}