.canvas-container {
    background-color: steelblue;
    width: 90vw;
    padding: 20px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1.5em;
}

canvas {
    background-color: white;
    border: 1px solid black;
}