.gallery-container {
    grid-column: 1/-1;
    padding-top: 25px;
    /* display: flex;
    flex-direction: column; */
    max-height: 100dvh;
    overflow-y: auto;
}

.gallery-container .gallery-item {
    cursor: pointer;
}

.gallery-container .gallery-item img {
    width: 100%;
    border-radius: 15px;
}

.imgs-container {
    display: grid;
    gap: 10px;
}

@media (min-width:635px) {

    .imgs-container {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }
}