.gallery-container {
    grid-column: 1/-1;
    padding-top: 25px;
    /* display: flex;
    flex-direction: column; */
    max-height: 100dvh;
    overflow-y: auto;
}

.gallery-container .gallery-item {
    cursor: pointer;
}

.gallery-container .gallery-item img {
    width: 100%;
    border-radius: 15px;
}

.btn-gallery {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 20px;
    padding: 10px;
    background-color: #5cadad;
    margin-bottom: 1em;
    color: var(--clr-primary-1);
    font-weight: bold;
    color: whitesmoke;

}

.btn-gallery:hover {
    background-color: #4399d7;

}

.btn-upload {
    /* position: relative; */
}

.upload-photo {
    cursor: pointer;
    opacity: 0;
    /* position: absolute; */
    inset: 0;
    height: 100%;
    width: 100%;
}

.imgs-container {
    display: grid;
    gap: 10px;
}

@media (min-width:635px) {

    .imgs-container {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }
}

.title-search {
    display: block;
    border-radius: 20px;
    padding: 10px;
    background-color: #b9fafa;
    border: .5px rgb(39, 120, 144) solid;
    margin-bottom: 1em;
    color: var(--clr-primary-1);
}


.search-line-container {

    position: relative;
    width: 180px;
    border-radius: 2em;
}

.fa-search {
    position: absolute;
    top: 10px;
    left: 7em;
}

.search-keywords-container {
    display: flex;
    width: max-content;
    border-radius: 20px;
    padding: 10px;
    background-color: rgb(202, 255, 249);
    margin-bottom: 1em;
    color: var(--clr-primary-1);
    border: .5px rgb(39, 120, 144) solid;

}

.search-keywords-container .keyword {
    color: darkcyan;
    margin: .3em;
    cursor: pointer;
    width: max-content;
}