.main-header {
    background: #020024;
    background: linear-gradient(295deg, rgba(2, 0, 37, 1) 0%, rgba(9, 9, 121, 1) 35%, rgb(25, 205, 202) 100%);
    display: grid;
    grid-template-columns: inherit;
    color: whitesmoke;
}

.main-header .inner-container {
    grid-column: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn-toggle-menu {
    z-index: 2;
    border: none;
    border-radius: 5px;
    background-color: rgba(0, 82, 165, 0);
    color: whitesmoke;
    font-size: 30px;
}