.main-screen {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
    pointer-events: none;

    transition: opacity .6s;

    opacity: 0;
}


body.menu-open .main-screen {
    pointer-events: auto;
    opacity: 1;
}