.memes-editor-container {
    /* max-height: 90dvh;
    overflow-y: auto; */
}

.edit-tools-container {
    padding: 1em;
    display: grid;
    align-items: center;
    gap: 10px;
    background-color: rgb(246, 254, 255);
    border-radius: 25px;
    margin: 10px;
}

.btn-font-control,
.color-picker {
    cursor: pointer;
    font-size: 2em;
    color: var(--clr-primary-1)
}

.btn-font-control:hover,
.color-picker:hover {
    color: var(--clr-primary-2)
}

.btn-font-control.fa-color {
    position: relative;
}

.edit-tools-container .color-picker {
    opacity: 0;
    position: absolute;
    inset: 0;
    height: 100%;
    width: 100%;
}

.btn-font-control span {
    font-size: .6em;
}

.btn-font-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 20px;
    padding: 10px;
    background-color: #c9e3f5;
}

.btn-font-container-second {
    justify-content: space-evenly;
    align-items: center;
    background-color: #ffffff;
    border-radius: 20px;
    padding: 10px;
}